extends layout

block content
    h1 About us
    p   
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia commodi laborum ut totam sequi, dolore voluptates vel ratione ipsa consequuntur repudiandae veniam quo nihil similique facere ex! Libero, porro vero?
    p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia commodi laborum ut totam sequi, dolore voluptates vel ratione ipsa consequuntur repudiandae veniam quo nihil similique facere ex! Libero, porro vero?
