extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1  Computer Not Working ?
          p
            | Is your computer runing slow or not al all ? Call us for a quick and easy quote 
          p
            a.btn.btn-primary.btn-lg(href='#') Read More 
        .col-md-5
          img(src='images/mouse.png', width='120%')
  .row
    .col-xs-4.col-sm-4.col-md-4.col-lg-4
      .well
        h4 Hardware problems
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima at commodi modi rem laboriosam quasi. Maxime iure deserunt, repellat quibusdam sint quas nihil similique voluptas dicta laboriosam facere commodi cupiditate.
    .col-xs-4.col-sm-4.col-md-4.col-lg-4
      .well
        h4 Software problems
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima at commodi modi rem laboriosam quasi. Maxime iure deserunt, repellat quibusdam sint quas nihil similique voluptas dicta laboriosam facere commodi cupiditate.
    .col-xs-4.col-sm-4.col-md-4.col-lg-4
      .well
        h4 PC Tune Up
        p
          | lore ipsum dolor sit amet consectetur adipisicing elit. Minima at commodi modi rem laboriosam quasi. Maxime iure deserunt, repellat quibusdam sint quas nihil similique voluptas dicta laboriosam facere commodi cupiditate.